*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1134px;
    height: 502px;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 80px ;
    margin-bottom: 80px ;
}



/* start header_section */



/* end header_section */

/* start piano_section */




/* start piano_section */
